WebContent/WEB-INF/wsdl/WSPastelColorService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://pastel.defacto.nl/" name="WSPastelColorService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://pastel.defacto.nl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://pastel.defacto.nl/" schemaLocation="WSPastelColorService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getHue">
    <part name="parameters" element="tns:getHue"/>
  </message>
  <message name="getHueResponse">
    <part name="parameters" element="tns:getHueResponse"/>
  </message>
  <message name="getSaturation">
    <part name="parameters" element="tns:getSaturation"/>
  </message>
  <message name="getSaturationResponse">
    <part name="parameters" element="tns:getSaturationResponse"/>
  </message>
  <message name="getLightness">
    <part name="parameters" element="tns:getLightness"/>
  </message>
  <message name="getLightnessResponse">
    <part name="parameters" element="tns:getLightnessResponse"/>
  </message>
  <message name="getAlpha">
    <part name="parameters" element="tns:getAlpha"/>
  </message>
  <message name="getAlphaResponse">
    <part name="parameters" element="tns:getAlphaResponse"/>
  </message>
  <message name="getRGB">
    <part name="parameters" element="tns:getRGB"/>
  </message>
  <message name="getRGBResponse">
    <part name="parameters" element="tns:getRGBResponse"/>
  </message>
  <message name="getBlue">
    <part name="parameters" element="tns:getBlue"/>
  </message>
  <message name="getBlueResponse">
    <part name="parameters" element="tns:getBlueResponse"/>
  </message>
  <message name="getGreen">
    <part name="parameters" element="tns:getGreen"/>
  </message>
  <message name="getGreenResponse">
    <part name="parameters" element="tns:getGreenResponse"/>
  </message>
  <message name="getRed">
    <part name="parameters" element="tns:getRed"/>
  </message>
  <message name="getRedResponse">
    <part name="parameters" element="tns:getRedResponse"/>
  </message>
  <portType name="WSPastelColor">
    <operation name="getHue">
      <input wsam:Action="http://pastel.defacto.nl/WSPastelColor/getHueRequest" message="tns:getHue"/>
      <output wsam:Action="http://pastel.defacto.nl/WSPastelColor/getHueResponse" message="tns:getHueResponse"/>
    </operation>
    <operation name="getSaturation">
      <input wsam:Action="http://pastel.defacto.nl/WSPastelColor/getSaturationRequest" message="tns:getSaturation"/>
      <output wsam:Action="http://pastel.defacto.nl/WSPastelColor/getSaturationResponse" message="tns:getSaturationResponse"/>
    </operation>
    <operation name="getLightness">
      <input wsam:Action="http://pastel.defacto.nl/WSPastelColor/getLightnessRequest" message="tns:getLightness"/>
      <output wsam:Action="http://pastel.defacto.nl/WSPastelColor/getLightnessResponse" message="tns:getLightnessResponse"/>
    </operation>
    <operation name="getAlpha">
      <input wsam:Action="http://pastel.defacto.nl/WSPastelColor/getAlphaRequest" message="tns:getAlpha"/>
      <output wsam:Action="http://pastel.defacto.nl/WSPastelColor/getAlphaResponse" message="tns:getAlphaResponse"/>
    </operation>
    <operation name="getRGB">
      <input wsam:Action="http://pastel.defacto.nl/WSPastelColor/getRGBRequest" message="tns:getRGB"/>
      <output wsam:Action="http://pastel.defacto.nl/WSPastelColor/getRGBResponse" message="tns:getRGBResponse"/>
    </operation>
    <operation name="getBlue">
      <input wsam:Action="http://pastel.defacto.nl/WSPastelColor/getBlueRequest" message="tns:getBlue"/>
      <output wsam:Action="http://pastel.defacto.nl/WSPastelColor/getBlueResponse" message="tns:getBlueResponse"/>
    </operation>
    <operation name="getGreen">
      <input wsam:Action="http://pastel.defacto.nl/WSPastelColor/getGreenRequest" message="tns:getGreen"/>
      <output wsam:Action="http://pastel.defacto.nl/WSPastelColor/getGreenResponse" message="tns:getGreenResponse"/>
    </operation>
    <operation name="getRed">
      <input wsam:Action="http://pastel.defacto.nl/WSPastelColor/getRedRequest" message="tns:getRed"/>
      <output wsam:Action="http://pastel.defacto.nl/WSPastelColor/getRedResponse" message="tns:getRedResponse"/>
    </operation>
  </portType>
  <binding name="WSPastelColorPortBinding" type="tns:WSPastelColor">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getHue">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getSaturation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getLightness">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAlpha">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getRGB">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getBlue">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getGreen">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getRed">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="WSPastelColorService">
    <port name="WSPastelColorPort" binding="tns:WSPastelColorPortBinding">
      <soap:address location="http://127.0.0.1:8080/webservice/WSPastelColor"/>
    </port>
  </service>
</definitions>

